body{
  margin: 0;
  padding: 0;

}

header{
  display: flex;
  background-color: lightgreen;
  justify-content: space-between;

}

.nav-text{
  display: none;
}


.nav-icons{
  display: flex;
  justify-content: flex-end;
}

.nav-item i{
  padding: 10px;
}

#search-bar-nav{
  display: none;
}

aside{
  padding: 10px;
  background-color: lightgreen;
  height: 50%;
  
}

#search-bar-aside input{
  text-align: center;
  width: 100%;
  justify-content: center;
  border: 1px solid black;
  border-radius: 4px ;
}

@media (min-width: 768px) {
  
  header{
    display:flex;
    flex-direction: column;
  }

  nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #search-bar-nav{
    display: flex;
    margin: 10px;
  }

  aside{
    display: none;
  }

  .logo{
    text-align: center;
  }

  .nav-icons{
    justify-content: flex-start;
  }

  i .fas fa-search-icon search-icon{
    display: none;
  }
}

/* Media query para PCs (mayor a 1024px) */
@media (min-width: 1024px) {
  
  

}