*{    
    padding: 0;
}

body{
    width: 960px;
    margin: 0 auto;
}

h1{
    text-align: center;
}

.datos{
    width: 260px;
    float: left;
}

.datos li{
    margin-left: 1cm;
}

.Desc p{
    padding-top: 10px;
}

.col-dreta{
    float: right;
    width: 700px;
}

.content ul>li{
    list-style-type: none;
    width: 200px;
    float: left;
    padding-right: 10px;
}
